{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-spacing": 1,
    "babel/arrow-parens": 0,
    "babel/new-cap": 1,
    "babel/no-await-in-loop": 1,
    "babel/object-curly-spacing": 0,
    "generator-star-spacing": 1,
    "no-console": 1,
    "no-undef": 1,
    "no-unexpected-multiline": 0,
    "no-unused-vars": 1,
    "object-shorthand": 1,
    "semi": [2,"never"]
  },
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "plugins": [
    "babel"
  ],
  "modules": true,
  "root": true,
  "globals": {}
}
